@use '@/styles/variables' as *;

.layout {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient($primary-color, $secondary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;

  @media only screen and (max-width: $vp-phone) {
    display: flex;
    align-items: unset;
    overflow-y: auto;
    max-height: 100%;
  }

  &__card {
    width: 60%;
    background-color: $primary-color;
    border-radius: 1rem;
    padding: 1rem 4rem;
    color: $fourth-color;
    box-shadow: 0 25px 22px 20px rgba($primary-color, 0.4);

    @media only screen and (max-width: $vp-table) {
      width: 85%;
    }

    @media only screen and (max-width: $vp-phone) {
      background-color: unset;
      width: 100%;
      padding: 0 1rem;
      box-shadow: unset;
    }

    &_nav {
      justify-content: flex-end;
      font-size: 1em;
      background-color: $primary-color;

      @media only screen and (max-width: $vp-phone) {
        background: none;
      }

      &_burger {
        background-color: rgba($primary-color, 0.5);
        color: $fourth-color;
        font-size: 2.5em;
      }
    }

    &_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;

      @media only screen and (max-width: $vp-phone) {
        display: flex;
        flex-direction: column;
      }

      @media only screen and (max-width: $vp-table) {
        padding: 1rem;
      }
    }
  }

  &__link {
    &_active {
      color: $third-color;

      @media only screen and (max-width: $vp-phone) {
        font-size: 0.35em;
      }
    }

    &_unactive {
      color: inherit;
      transition: all 0.5s;

      @media only screen and (max-width: $vp-phone) {
        font-size: 0.35em;
      }

      &:hover {
        transition: all 0.5s;
        color: $secondary-color;
      }
    }
  }
}
