@import 'variables.scss';

.about {
  &__left {
    justify-self: center;
    align-self: center;

    @media only screen and (max-width: $vp-phone) {
      padding-top: 0 !important;
      padding: 0 3rem;
    }

    @media only screen and (max-width: $vp-table) {
      padding-top: 2rem;
    }
  }

  &__image {
    border-radius: 1rem;
    //box-shadow: 0 0 8px 8px $secondary-color;

    @media only screen and (max-width: $vp-phone) {
      border-radius: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
    }

    & img {
      border-radius: 1rem;

      @media only screen and (max-width: $vp-phone) {
        width: 180px;
        height: 180px;
      }

      @media only screen and (max-width: $vp-table) {
        width: 300px;
        height: 300px;
      }
    }
  }

  &__right {
    justify-self: center;

    @media only screen and (max-width: $vp-phone) {
      grid-area: 1 / 2;
    }

    &_hobbies {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      & span {
        color: $third-color;
      }

      & div {
        display: flex;
        column-gap: 1.5rem;
      }
    }
  }
}
