@import "variables.scss";

.container { 
    width: 50%;
    margin: auto;
    padding: 5px;
}

.subtitle {
    text-transform: uppercase;
    margin: 1rem 0;
}

.section {
    display: flex;

    &_image {
        display: flex;
        & img {
            border-radius: 50%;
        }
    }

    &_text {
        font-size: 1.15em;
    }
}