@import 'variables.scss';

.container {
  width: 40%;
  margin: auto;
  padding: 5px;

  @media screen and (max-width: $bp-tablet) {
    width: 80%;
  }

  @media screen and (max-width: $bp-phone) {
    width: 90%;
  }
}

.subtitle {
  text-transform: uppercase;
  margin: 1rem 0;

  @media screen and (max-width: $bp-phone) {
    font-size: 1.25em;
  }
}

.section {
  display: flex;

  @media screen and (max-width: $bp-phone) {
    flex-direction: column-reverse;
  }

  &_image {
    display: flex;

    @media screen and (max-width: $bp-tablet) {
      width: 40%;
      height: 150px;
    }

    @media screen and (max-width: $bp-phone) {
      width: 35%;
      height: 150px;
      margin: auto;
    }

    & img {
      border-radius: 50%;
    }
  }

  &_text {
    font-size: 1.15em;

    @media screen and (max-width: $bp-tablet) {
      font-size: 1em;
    }
  }
}
