@import "variables.scss";

.body {
  padding: 0;
  margin: 0;
  font-family: fira Sans, sans-serif;
  color: $color-primary;
}

.link {
  color: inherit;
  text-decoration: none;
}

.list {
  list-style: none;
  padding: unset;
  line-height: 2.25rem;
}

.bottom_line {
  border-bottom: 3px solid $color-primary;
}
