@import "variables.scss";

.layout {
    background-color: $color-quaternary;
    width: 100%;
    height: auto;
    min-height: 100%;

    &__nav {
        background-color: $color-tertiary-light;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &_author {
            font-family: lobster, serif;
            font-size: 2.25em;
        }

        &_link {
            font-size: 1.50em;
            transition: all 0.3s;

            &:hover {
                border-bottom: 2px solid $color-primary;
                transition: all 0.3s;
            }
        }

        &_moon {
            font-size: .50em;
        }
    }
}