@import 'variables.scss';

.layout {
    font-family: "Poppins", sans-serif;
    background: linear-gradient($primary-color, $secondary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__card {
        width: 75%;
        background-color: $primary-color;
        border-radius: 1rem;
        padding: 1rem 4rem;
        color: $fourth-color;
        box-shadow: 0 25px 22px 20px rgba($primary-color, .4);

        & nav {
            display: flex;
            column-gap: 3rem;
            justify-content: flex-end;
            padding: 0 1.7rem;
            font-size: 1em;
        }

        &_content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 3rem;
        }
    }

    &__link {
        &_active {
            color: $third-color;
        }

        &_unactive {
            color: inherit;
        }
    }
}